@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;600;800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

:root {
    /* CORES */
    --color-prima-light-1: #FEFCF6;
    --color-prima-light-2: #EBEBEB;
    --color-prima-blue-1:  #A5BAC3;
    --color-prima-blue-2:  #97C3D5;
    --color-prima-blue-3:  #175D83;
    --color-prima-blue-4:  #1B3A4B;
}

@theme {
    /* BREAKPOINT */
    --breakpoint-xs: 30rem;
    --breakpoint-2md: 62.5rem;
    --breakpoint-2xl: 100rem;
    --breakpoint-3xl: 120rem;

    /* FONTES */
    --font-prima-ttl: "Be Vietnam Pro", sans-serif;
    --font-prima-txt: "Roboto", sans-serif;

    /* CORES */
    --color-primaLight1: #FEFCF6;
    --color-primaLight2: #EBEBEB;
    --color-primaBlue1:  #A5BAC3;
    --color-primaBlue2:  #97C3D5;
    --color-primaBlue3:  #175D83;
    --color-primaBlue4:  #1B3A4B;
    --color-primaGrad1: rgba(138, 166, 179,0.7);
}



html {
    @apply font-prima-txt text-primaBlue4;
    @apply bg-primaLight1;
}

main {
    background: linear-gradient(0deg, #e2e6e6 0%, #FEFCF6 80%);
}

main > section {
    @apply px-3 md:px-5;
}

.container {
    @apply max-w-[1400px] pb-[200px] mx-auto;
}


hr {
    @apply hidden;
}



.sec-header {
    @apply pb-10;
}

.sec-header > *:not(:last-child) {
    @apply pb-8;
}



*[class*="ttl-"] {
    @apply font-prima-ttl font-semibold;
}

.ttl-1 {
    @apply text-4xl md:text-6xl lg:text-8xl;
}
.ttl-2 {
    @apply text-3xl md:text-5xl lg:text-6xl;
}
.ttl-3 {
    @apply text-2xl md:text-3xl lg:text-4xl;
}
.ttl-4 {
    @apply text-xl md:text-2xl lg:text-2xl;
}



.text-box > p:not(:last-child)  {
    @apply pb-3;
}

.text-box h4 {
    @apply font-semibold;
}

.text-box ul li:not(:last-child) {
    @apply pb-2;
}





/* ----- ----- ----- BANNER ----- */

#banner {
    /* @apply bg-red-400; */
    @apply pb-[200px];
}


#banner .wrapper {
    /* @apply bg-purple-400; */
    @apply bg-primaGrad1 max-w-[1800px] py-[80px] mx-auto relative overflow-hidden rounded-lg shadow-xl;
}

#banner .wrapper > img {
    /* @apply bg-purple-400; */
    @apply absolute z-0 left-0 top-0 w-full h-full blur-[3px] scale-[1.1];
    @apply object-cover object-center transition duration-400;

    @apply group-hover:scale-[1.2];
}


#banner .container-box {
    /* @apply bg-green-400; */
    @apply relative z-5 flex justify-center;
}


#banner .inner {
    @apply bg-primaBlue2 max-w-[1000px] p-10 rounded-md;
}

#banner .inner figure {
    @apply flex justify-center pb-10;
}

#banner .inner > p {
    @apply text-primaLight1 text-center;
}




/* ----- ----- ----- BOTOES ----- */

*[class^="btn"] {
    @apply text-center bg-primaBlue4 rounded-full px-7 cursor-pointer inline-block;
    @apply hover:bg-primaBlue3 hover:shadow-xl transition duration-222;
}
*[class^="btn"] span {
    @apply font-prima-txt font-normal text-xl text-primaLight2 leading-[52px];
}
*[class^="btn"] i {
    @apply text-primaLight2 text-xl m-0 md:ml-10 leading-[52px];
}


.btn-sm span {
    @apply text-sm leading-[42px];
}
.btn-sm i {
    @apply text-sm ml-5 leading-[42px];
}

.btn-lg span {
    @apply text-2xl leading-[64px];
}
.btn-lg i {
    @apply text-2xl ml-10;
}


*[class^="btn"].light {
    @apply bg-primaBlue1 hover:bg-primaBlue2 transition duration-400;
}
*[class^="btn"].light span,
*[class^="btn"].light i {
    @apply text-primaBlue4;
}

*[class^="btn"].white {
    @apply bg-primaLight2! hover:bg-primaBlue2! transition duration-400;
}
*[class^="btn"].white span,
*[class^="btn"].white i {
    @apply text-primaBlue4;
}
*[class^="btn"].white:hover span,
*[class^="btn"].white:hover i {
    @apply text-primaLight2!;
}




/* ----- ----- ----- GRIDs ----- */

*[class^="my-layout"] {
    @apply grid grid-cols-1 md:grid-cols-2 gap-10 items-center;
}


.layout-masonry {
    @apply columns-1 2md:columns-2 -mb-5;
}
.layout-masonry li {
    @apply mb-5;
}

.layout-masonry li:nth-child(1),
.layout-masonry li:nth-child(4) {
    @apply h-[calc(200px)] lg:h-[calc(500px/2)];
}
.layout-masonry li:nth-child(2),
.layout-masonry li:nth-child(3) {
    @apply h-[calc(200px)] 2md:h-[calc(350px)] lg:h-[500px];
}

.layout-masonry li { 
    @apply rounded-lg transition-[height] duration-160;
}

.layout-masonry li:not(.action) a { 
    @apply block w-full h-full;
}

.layout-masonry img {
    @apply absolute inset-0 w-full h-full;
    @apply object-cover; /* navegadores modernos */
    font-family: "object-fit: cover"; /* fallback para IE */
    background-size: cover; /* fallback muito antigo */
}


li.grid-action { 
    @apply bg-primaBlue1 w-full h-full p-5 flex flex-col justify-between items-start;
    @apply hover:bg-primaBlue2 hover:shadow-xl transition duration-222;
}

li.grid-action a {
    @apply font-prima-ttl font-semibold text-3xl text-primaBlue4 w-full h-full;
    @apply hover:text-primaBlue3 transition duration-150;
}




.layout-col-3 li {
    @apply overflow-hidden rounded-lg;
}

.layout-col-3 {
    /* @apply bg-blue-400 md:bg-red-400 lg:bg-purple-400 xl:bg-pink-400  */
    @apply grid gap-4
    /* --- full */
    grid-cols-none xl:grid-cols-4 grid-rows-none xl:grid-rows-2
    /* --- meio */
    lg:grid-cols-3 lg:grid-rows-2
    /* --- small */
    md:grid-cols-2 md:grid-rows-3;
}

.layout-col-3 li:nth-child(1) {
    @apply col-span-1 md:col-span-2 row-span-2;
}

.layout-col-3 li:nth-child(3),
.layout-col-3 li:nth-child(4) {
    @apply hidden xl:block;
}

.layout-col-3 figure {
    @apply pb-[calc(100%-32px)]
}




/* ----- ----- ----- CARD-BLUR ----- */

.card-blur {
    @apply relative w-full h-full overflow-hidden;
}
.card-blur:before {
    @apply content-[''] absolute z-1 left-0 top-0 w-full h-full opacity-100 lg:opacity-0 pointer-events-none;
    background: linear-gradient(0deg, rgba(27,58,75,0.700717787114846) 20%, rgba(27,58,75,0) 100%);

    @apply  transition-[opacity] duration-400 ease-in-out;
}
.card-blur:hover {
    @apply shadow-xl;
}
.card-blur:hover:before {
    @apply opacity-100;
}


.card-blur figure {
    @apply w-full h-full;
}

.card-blur figure img {
    @apply absolute inset-0 w-full h-full;
    @apply object-cover; /* navegadores modernos */
    font-family: "object-fit: cover"; /* fallback para IE */
    background-size: cover; /* fallback muito antigo */

    @apply transition-[scale] transition-[blur] duration-400 ease-in-out;
}

.card-blur:hover figure img {
    @apply scale-[1.1] blur-[2px];
}


.card-blur div {
    @apply font-prima-ttl font-semibold text-xl text-primaLight2;
    @apply absolute z-2 left-[20px] bottom-[20px] opacity-100 lg:opacity-0;

    @apply transition duration-222 ease-in;
}
.card-blur:hover div {
    @apply opacity-100;
}




/* ----- ----- ----- LINK ----- */

*[class^="link"] {
    @apply font-prima-ttl font-semibold text-primaBlue4;
    @apply hover:text-primaBlue3 transition-colors duration-222;
}

*[class^="link"] i:nth-child(1) {
    @apply pr-2;
}
*[class^="link"]:hover i:nth-child(1) {
    animation: slide_Left 0.7s ease-in-out;
}

*[class^="link"] i:nth-child(2) {
    @apply pl-2;
}
*[class^="link"]:hover i:nth-child(2) {
    animation: slide_Right 0.7s ease-in-out;
}

@keyframes slide_Left {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    49% {
        opacity: 0;
        transform: translateX(-50%);
    }
    50% {
        opacity: 0;
        transform: translateX(60%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes slide_Right {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    49% {
        opacity: 0;
        transform: translateX(50%);
    }
    50% {
        opacity: 0;
        transform: translateX(-60%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}




/* ----- ----- ----- CARD-BLUG ----- */

.card-blue > * {
    @apply text-center p-8 bg-primaBlue1 rounded-lg flex flex-col h-full justify-between;
    @apply relative z-5 hover:bg-primaBlue2 hover:shadow-2xl transition duration-300;
}

.card-blue figure {
    @apply flex justify-center pb-8 h-[130px];
}
.card-blue img {
    @apply object-contain h-auto max-h-full w-[100%] max-w-[360px];
}

.card-blue p {
    @apply text-sm;
}

.card-blue .ttl-4 {
    @apply pb-5;
}





















/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
*   HEADER
*/









/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
*   HOME
*/

/* ----- ----- ----- MARCAS ----- */

.grid-marcas {
    @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5 pb-10;
}








/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
*   SOBRE
*/

#historia .sec-header {
    @apply text-center;
}




/* ----- ----- ----- TIMELINE ----- */

#home-marcas header {
    @apply pb-5;
}


.timeline {
    @apply max-w-[1200px] mx-auto;
}

.timeline > li {
    @apply flex flex-wrap-reverse md:flex-wrap relative pl-10 md:pl-0 pt-0 md:pt-10 lg:pt-15 pb-15 md:pb-30;
}


.timeline > li:before,
.timeline > li:after {
    @apply content-[''] absolute z-0 bg-primaBlue1;
    @apply left-0 md:left-1/2 md:-translate-x-1/2;
}
.timeline > li:before {
    @apply w-[15px] h-[15px] rounded-full top-1 md:top-[67px];
}
.timeline > li:after {
    @apply w-[10px] h-[calc(100%-80px)] rounded-full top-[29px] md:top-[97px] left-0.5 md:left-1/2;
}
.timeline > li:not(:last-child):after {
    @apply h-[calc(100%-35px)] md:h-[calc(100%-45px)];
}

.timeline > li:last-child:after {
    @apply h-[75%];
}


.timeline .col-a,
.timeline .col-b {
    @apply w-full md:w-1/2;
}

.timeline .col-a {}

.timeline .col-b {
    @apply pb-10 md:pb-0;
}

/* ----- ----- ----- itens impar ----- */
.timeline > li:not(:nth-child(even)) .col-a {
    @apply pr-0 md:pr-10 lg:pr-15;
}

.timeline > li:not(:nth-child(even)) .col-b {
    @apply pl-0 md:pl-10 lg:pl-15;
}

/* ----- ----- ----- itens par ----- */
.timeline > li:nth-child(even) {
    @apply flex-row-reverse;
}

.timeline > li:nth-child(even) .col-a {
    @apply pl-0 md:pl-10 lg:pl-15;
}

.timeline > li:nth-child(even) .col-b {
    @apply text-left md:text-right pr-0 md:pr-10 lg:pr-15;
}


.timeline header {
    @apply pb-3;
}

.timeline header .ttl-4 {
    @apply leading-[100%];
}


.timeline figure {
    @apply w-full shadow-xl overflow-hidden rounded-lg mt-0 md:-mt-10 lg:-mt-15;
}
.timeline figure img {
    @apply min-w-full;
}




/* ----- ----- ----- VALORES ----- */

.grid-valores {
    @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5 pb-10;
}




/* ----- ----- ----- DESIGNER ----- */

.sobre-designers {
    /* box-shadow: inset 0 0 0 20px red; */
    @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-5 md:gap-10;
}

.sobre-designers li {
    /* box-shadow: inset 0 0 0 10px pink; */
    @apply rounded-lg hover:shadow-2xl hover:bg-primaLight2 transition duration-222;
}

.sobre-designers figure {
    @apply overflow-hidden rounded-lg;
}
.sobre-designers figure img {
    @apply w-full;
}

.sobre-designers p {
    @apply font-prima-ttl font-semibold text-lg py-2 px-4;
}





/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
*   DESIGNER
*/

#designer-bio .container {
    @apply flex flex-wrap flex-col-reverse md:flex-row;
}

#designer-bio .col-a,
#designer-bio .col-b {
    @apply w-full;
}

#designer-bio .col-a {
    @apply md:w-[45%] lg:w-[40%] pr-0 md:pr-15;
}

#designer-bio .col-b {
    @apply md:w-[55%] lg:w-[60%] mb-10 md:mb-0;
}


#designer-bio .col-a figure {
    @apply w-full shadow-xl overflow-hidden rounded-lg;
}
#designer-bio .col-a figure img {
    @apply w-full;
}


#designer-bio .col-b header {
    @apply py-5;
}

#designer-bio .col-b .ttl-4 {
    @apply text-primaBlue2;
}


#designer-bio .social-link {
    @apply flex flex-wrap gap-5 mt-10;
}
#designer-bio .social-link a {
    @apply leading-[100%] text-3xl lg:text-4xl text-primaBlue2;
    @apply hover:text-primaBlue3 transition duration-222;
}


.grid-criacoes {
    @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-5;
}

.grid-criacoes .card-blur {
    @apply overflow-hidden rounded-lg;
}

.grid-criacoes .card-blur a {
    @apply block pb-[100%];
}









/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
*   PRODUTOS
*/

#products .container {
    /* box-shadow: inset 0 0 0 20px rgb(30, 255, 0); */
    @apply flex flex-wrap gap-5;
}


.sidebar-filter {
    /* box-shadow: inset 0 0 0 10px red; */
    @apply bg-primaLight2 rounded-lg w-full md:w-[280px] p-5 pl-2;
}


.filter-menu {
    @apply text-3xl text-primaBlue4;
    @apply flex md:hidden justify-end pb-4 mb-4 ml-3 cursor-pointer;
    @apply hover:text-primaBlue3 transition duration-222;
}


.sidebar-filter fieldset {
    @apply block;
}
.sidebar-filter fieldset:not(:last-child)  {
    @apply mb-5;
}

.sidebar-filter label {
    @apply font-prima-txt font-semibold text-sm text-primaBlue4;
    @apply block pb-2 pl-3;
}

.sidebar-filter select {
    @apply font-prima-ttl font-semibold text-xl text-primaBlue4;
    @apply outline-none block w-full p-2 rounded-sm cursor-pointer;
    @apply hover:bg-primaLight1 transition duration-222;
}


.products-wrapper {
    /* box-shadow: inset 0 0 0 10px #0004ff; */
    @apply w-full md:w-[calc(100%-(280px+20px))];
}


.products-wrapper .action {
    @apply pt-10 text-center;
}

.products-wrapper .action .btn {
    @apply min-w-[360px];
}










.grid-products {
    @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-2.5;
}

.grid-products a {
    @apply block pb-[100%];
}


#page-cover {
    /* box-shadow: inset 0 0 0 20px #00d9ff; */
    @apply mb-5;
}

#page-cover .wrapper {
    /* box-shadow: inset 0 0 0 20px #1eff00; */
    @apply max-w-[1600px] mx-auto overflow-hidden rounded-lg relative;
}

#page-cover .inner {
    /* box-shadow: inset 0 0 0 20px #ff1e00; */
    /* @apply max-w-[1400px] mx-auto relative z-5 grid grid-cols-1 justify-center items-center md:grid-cols-2 gap-0 md:gap-10; */
    @apply max-w-[1400px] mx-auto relative z-5 flex flex-wrap justify-center items-center gap-0 md:gap-10;
}

#page-cover .wrapper > img {
    @apply absolute z-0 left-0 top-0 w-full h-full;
    @apply object-cover object-center;
}


#page-cover .col {
    /* box-shadow: inset 0 0 0 10px #ff43e6; */
    @apply w-full md:w-[calc(50%-20px)] min-h-[180px] md:min-h-[300px] flex items-center;
}
#page-cover .col:first-child {
    @apply justify-center md:justify-start;
}
#page-cover .col:last-child {
    @apply justify-center md:justify-end;
}

#page-cover .col.bg:before {
    @apply content-[''] absolute -z-1 right-0 md:right-[-100px] top-auto md:top-0 bottom-0 w-[100%] md:w-[80%] h-[80%] md:h-[100%] pointer-events-none;
    @apply bg-[linear-gradient(0deg,rgba(132,174,193,1)60%,rgba(132,174,193,0)100%)] md:bg-[linear-gradient(90deg,rgba(132,174,193,0)0%,rgba(132,174,193,1)40%)];
}


#page-cover .col.img {
    /* @apply px-5 md:pl-10 justify-center md:justify-start items-center; */
    @apply px-5 md:pl-10 items-center;
}


#page-cover .col.text-box {
    @apply justify-end px-10 md:pl-0;
}

#page-cover .col.text-box p {
    @apply text-primaLight2 w-full lg:w-1/2;
}






.product-info {
    @apply flex flex-wrap justify-center gap-5 md:gap-10 pt-5;
}

.product-info li {
    @apply flex flex-col justify-end items-center;
}

.product-info li img {
    @apply max-w-[60px] mb-3;
}









#page-header {
    @apply mb-20;
}

#page-header .container {
    @apply pb-0 grid grid-cols-1 md:grid-cols-2 gap-5;
}

#page-header .container .col:last-child {
    @apply pt-0 md:pt-[15%];
}

#page-header .action {
    @apply mt-10;
}














#product-detail .container {
    /* @apply flex flex-wrap gap-5; */
    @apply grid grid-cols-1 md:grid-cols-2 gap-10 items-center;
}

#product-detail .col-a,
#product-detail .col-b {
    /* box-shadow: inset 0 0 0 10px #71baff ; */
}


#product-detail .col-a .mobile {
    @apply block md:hidden;
}

#product-detail .col-a .action {
    @apply flex justify-center pt-5;
}


#product-detail .col-b .sec-header {
    @apply hidden md:block;
}
#product-detail .col-b .ttl-4,
#product-detail .col-a .mobile .ttl-4 {
    @apply text-primaBlue1 pb-0;
}















/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
*   FOOTER
*/

#main-footer {
    @apply bg-primaBlue4 px-5 md:px-10;
}

#main-footer .container {
    @apply max-w-[1400px] mx-auto grid grid-cols-1 lg:grid-cols-2 gap-20 py-40;
}


#main-footer .ttl-2 {
    @apply text-primaLight2 mb-15;
}


/* ----- ----- ----- MENU de marcas ----- */

.menu-marcas {
    @apply flex flex-wrap flex-col md:flex-row items-center gap-5 md:gap-10;
}

.menu-marcas a {
    @apply inline-block transition-opacity duration-400;
}

.menu-marcas img {
    @apply max-h-[40px];
}

.menu-marcas:hover a {
    @apply opacity-55;
}
.menu-marcas a:hover {
    @apply opacity-100;
}




/* ----- ----- ----- MENU redes sociais ----- */

.social-link {
    @apply flex flex-wrap gap-5 mt-10 justify-center md:justify-start;
}

.social-link a {
    @apply text-primaLight2 text-4xl leading-[100%];
    @apply hover:text-primaBlue2 transition duration-400;
}




/* ----- ----- ----- NEWSLETTER ----- */

.newsletter {
    /* box-shadow: inset 0 0 0 10px red; */
    @apply mt-10 max-w-[460px];
}

.newsletter label {
    @apply text-primaLight2 block mb-4 ml-4;
}


.newsletter fieldset div {
    @apply flex flex-row;
}

.newsletter input {
    @apply font-prima-ttl text-primaLight2;
    @apply px-4 border-2 border-primaLight2 border-r-0 rounded-l-full outline-none;
    @apply w-[calc(100%-76px)] md:w-[calc(100%-125px)];
}

.newsletter .btn span {
    @apply hidden md:block;
}
.newsletter .btn i {
    @apply block md:hidden;
}



/* ----- ----- ----- MENU de links para contato ----- */

.contacto-link li {
    @apply text-left lg:text-right;
}
.contacto-link li:not(:last-child) {
    @apply mb-4;
}

.contacto-link a {
    @apply text-primaLight2;
    @apply hover:text-primaBlue2 transition duration-400;
}

.contacto-link .link-phone,
.contacto-link .link-whats {
    @apply text-xl font-semibold;
}
